<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeBlue - 증상 보고서 입력 페이지</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: 'Noto Sans KR', sans-serif;
      }

      .container {
        margin: 50px 85px 50px 85px;
      }
    </style>
    <script>
      function sendReport() {
        event.preventDefault();
        const patient_rrn = document.querySelector('#patient_rrn').value;
        const age_range_form = document.querySelector('#age_range');
        const age_range = age_range_form.value || null;
        const blood_type_form = document.querySelector('#blood_type');
        const blood_type = blood_type_form.value || null;
        const blood_pressure = document.querySelector('#blood_pressure').value;
        const symptoms = document.querySelector('#symptoms').value;
        const createReportDto = {
          patient_rrn,
          age_range,
          blood_type,
          blood_pressure,
          symptoms,
        };

        console.log('createReportDto', createReportDto);
        const url = '/report';
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(createReportDto),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            alert('데이터가 성공적으로 저장되었습니다.');
          })
          .catch((error) => {
            console.error(error);
            alert('데이터 저장에 실패했습니다. 다시 시도해주세요.');
          });
      }

      function scrollToTop() {
        event.preventDefault();
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        });
      }

      function refreshBrowser() {
        event.preventDefault();
        window.location.reload();
      }
    </script>
  </head>
  <body>
    <nav
      class="navbar is-info is-light"
      role="navigation"
      aria-label="main navigation"
      style="padding: 0 10px 0 75px"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!-- <img
          src="https://user-images.githubusercontent.com/76824986/246324142-743e6431-3870-4c20-8123-16e11f8582cb.jpg"
          width="40"
          height="auto"
        /> -->
          CodeBLUE
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> 증상보고서 입력 </a>
          <a class="navbar-item" href="/search"> 증상보고서 검색 </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>
            <div class="navbar-dropdown">
              <a class="navbar-item"> 가까운 응급실 조회 </a>
              <a class="navbar-item"> 증상보고서 수정 </a>
              <a class="navbar-item"> 환자 정보 입력 및 수정 </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <section class="hero has-background-link-light m-6">
        <div class="hero-body my-6" style="text-align: center; padding: 20px">
          <p class="title">환자 증상 보고서 입력</p>
          <p class="subtitle">
            <br />
            환자의 상태는 필수로 입력해주시고, 나머지 항목은 선택사항입니다.
            <br />
            <br />
          </p>
          <form action="./report" method="POST">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">주민등록번호</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="ex) 990101-2111111"
                      maxlength="14"
                      name="patient_rrn"
                      id="patient_rrn"
                    />
                  </div>
                  <p class="help">숫자6자리-숫자7자리로 입력해주세요.</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">연령대</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select
                        class="form-select"
                        id="age_range"
                        name="age_range"
                        style="font-family: 'Noto Sans KR', sans-serif"
                      >
                        <option disabled selected value="">연령대 선택</option>
                        <option value="영유아">영유아</option>
                        <option value="청소년">청소년</option>
                        <option value="성인">성인</option>
                        <option value="노년">노년</option>
                        <option value="임산부">임산부</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">혈액형</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select
                        class="form-select"
                        id="blood_type"
                        name="blood_type"
                        style="font-family: 'Noto Sans KR', sans-serif"
                      >
                        <option disabled selected value="">혈액형 선택</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">혈압</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input"
                      id="blood_pressure"
                      name="blood_pressure"
                      type="text"
                      placeholder="ex) 120/80"
                    />
                  </div>
                  <p class="help">숫자/숫자로 입력해주세요.</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label" for="symptoms">환자증상</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea
                      id="symptoms"
                      name="symptoms"
                      class="textarea is-danger"
                      placeholder="환자의 증상을 서술해주세요"
                    ></textarea>
                  </div>
                  <p class="help is-danger">
                    필수 입력값 입니다. 환자의 증상을 최대한 상세하게
                    적어주세요.
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field is-grouped is-grouped-centered">
                  <div class="control">
                    <button
                      type="submit"
                      class="button is-link"
                      onclick="scrollToTop(); sendReport();"
                    >
                      제출
                    </button>
                  </div>
                  <div class="control">
                    <button
                      class="button is-link is-light"
                      onclick="refreshBrowser()"
                    >
                      취소
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>CodeBLUE</strong> by 항해 14기 챌린지팀 20조. The source code
          is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
          website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY NC SA 4.0</a
          >.
        </p>
      </div>
    </footer>
  </body>
</html>
