<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeBlue - 증상 보고서 입력 페이지</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: 'Noto Sans KR', sans-serif;
      }

      .container {
        margin: 50px 85px 50px 85px;
      }
    </style>
    <script>
      function getUserLocation() {
        //수정필요. query 형식이여야함
        // if (navigator.geolocation) {
        //   navigator.geolocation.getCurrentPosition(
        //     (position) => {
        //       const latitude = position.coords.latitude;
        //       const longitude = position.coords.longitude;
        //       const patient_rrn = document.getElementById('rrn-input').value;
        //       const symptoms = document.getElementById('symptoms-input').value;
        //       const bloodPressure = document.getElementById(
        //         'blood-pressure-input',
        //       ).value;
        //       const bloodType =
        //         document.getElementById('blood-type-select').value;
        //       const AgeRange =
        //         document.getElementById('age-range-select').value;
        //       const createReportDto = {
        //         symptoms: symptoms,
        //         bloodPressure: bloodPressure,
        //         bloodType: bloodType,
        //         AgeRange: AgeRange,
        //         latitude: latitude,
        //         longitude: longitude,
        //       };
        //       sendRequest(patient_rrn, createReportDto);
        //     },
        //     (error) => {
        //       console.error(error);
        //       alert('위치 정보를 가져오지 못했습니다.');
        //     },
        //   );
        // } else {
        //   alert('이 브라우저는 위치 서비스를 지원하지 않습니다.');
        // }
      }

      function sendRequest(patient_rrn, CreateReportDto) {
        const url = `/report`;
        const patient_rrn = document.getElementById('rrn-input').value;
        const symptoms = document.getElementById('symptoms-input').value;
        const bloodPressure = document.getElementById(
          'blood-pressure-input',
        ).value;
        const bloodType = document.getElementById('blood-type-select').value;
        const AgeRange = document.getElementById('age-range-select').value;

        const createReportDto = {
          symptoms: symptoms,
          bloodPressure: bloodPressure,
          bloodType: bloodType,
          AgeRange: AgeRange,
        };

        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            patient_rrn: patient_rrn,
            createReportDto: CreateReportDto,
          }),
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            console.log(data);
            const reportId = data.report_id;
            alert('데이터가 성공적으로 저장되었습니다. 보고서 ID: ' + reportId);

            const radius = document.getElementById('radius-input').value;
            const maxCount = document.getElementById('max-count-input').value;

            let getLocalHospitals = `/hospital/${reportId}?latitude=${latitude}&longitude=${longitude}`;
            if (radius) {
              getLocalHospitals += `&radius=${radius}`;
            }
            if (maxCount) {
              getLocalHospitals += `&max_count=${maxCount}`;
            }

            return fetch(getLocalHospitals)
              .then((response) => {
                return response.json();
              })
              .then((otherData) => {
                console.log(otherData);
              });
          })
          .catch((error) => {
            console.error(error);
            alert('데이터 저장에 실패했습니다. 다시 시도해주세요.');
          });
      }

      function scrollToTop() {
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        });
      }

      function refreshBrowser() {
        window.location.reload();
      }
    </script>
  </head>
  <body>
    <nav
      class="navbar is-info is-light"
      role="navigation"
      aria-label="main navigation"
      style="padding: 0 10px 0 75px"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!-- <img
          src="https://user-images.githubusercontent.com/76824986/246324142-743e6431-3870-4c20-8123-16e11f8582cb.jpg"
          width="40"
          height="auto"
        /> -->
          CodeBLUE
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> 증상보고서 입력 </a>
          <a class="navbar-item" href="/search"> 증상보고서 검색 </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>
            <div class="navbar-dropdown">
              <a class="navbar-item"> 가까운 응급실 조회 </a>
              <a class="navbar-item"> 증상보고서 수정 </a>
              <a class="navbar-item"> 환자 정보 입력 및 수정 </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <section class="hero has-background-link-light m-6">
        <div class="hero-body my-6" style="text-align: center; padding: 20px">
          <p class="title">환자 증상 보고서 입력</p>
          <p class="subtitle">
            <br />
            환자의 상태는 필수로 입력해주시고, 나머지 항목은 선택사항입니다.
            <br />
            <br />
          </p>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">주민등록번호</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="ex) 990101-2111111"
                    id="rrn-input"
                  />
                </div>
                <p class="help">숫자6자리-숫자7자리로 입력해주세요.</p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">연령대</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="age-range-select">
                      <option disabled selected>연령대 선택</option>
                      <option>영유아</option>
                      <option>청소년</option>
                      <option>성인</option>
                      <option>노년</option>
                      <option>임산부</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">혈액형</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="blood-type-select">
                      <option disabled selected>혈액형 선택</option>
                      <option>A</option>
                      <option>B</option>
                      <option>AB</option>
                      <option>O</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">혈압</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="ex) 120/80"
                    id="blood-pressure-input"
                  />
                </div>
                <p class="help">숫자/숫자로 입력해주세요.</p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">환자증상</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea
                    class="textarea is-danger"
                    placeholder="환자의 증상을 서술해주세요"
                    id="symptoms-input"
                  ></textarea>
                </div>
                <p class="help is-danger">
                  필수입력값입니다. 환자의 증상을 최대한 상세하게 적어주세요.
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <button
                    class="button is-link"
                    onclick="scrollToTop(); sendRequest(); getUserLocation();"
                  >
                    제출
                  </button>
                </div>
                <div class="control">
                  <button
                    class="button is-link is-light"
                    onclick="refreshBrowser()"
                  >
                    취소
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>CodeBLUE</strong> by 항해 14기 챌린지팀 20조. The source code
          is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
          website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY NC SA 4.0</a
          >.
        </p>
      </div>
    </footer>
  </body>
</html>
