<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" href="./image/codeblue-favicon.png" />
    <link rel="apple-touch-icon" href="./image/codeblue-favicon.png" />

    <title>CodeBLUE</title>

    <!-- Meta Tag -->
    <meta property="og:url" content="https://codeblue.site" />
    <meta property="og:title" content="CodeBLUE" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="./image/codeblue.png" />
    <meta property="og:description" content="CodeBLUE" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <style>
      html,
      body {
        font-family: 'Noto Sans KR', sans-serif;
        height: 100%;
        background: #f5f5f5;
      }
      .wrapper {
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        height: 100%;
        background: #f5f5f5;
      }
      .center {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000000;
      }
      .container {
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(104, 102, 102, 0.1);
        background: white;
        margin: 30% 15% 0 15%;
        padding: 2% 10% 3% 10%;
        text-align: center;
        position: relative;
      }
      .description {
        margin-top: 15px;
      }
      .selections {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      .selections a {
        display: block;
        text-align: center;
        padding: 20px;
        color: rgb(71, 69, 97);
        text-decoration: none;
        border-radius: 5px;
        font-weight: 600;
        background-color: rgb(239, 241, 250);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 20px;
      }
      .selections a:hover {
        color: white;
        background-color: rgb(72, 95, 199);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="left"></div>
      <div class="center">
        <div class="container">
          <h1 class="title">CodeBLUE</h1>
          <p class="description">실시간 잔여 병상 조회 및 이송신청 시스템</p>
          <div class="selections">
            <a href="/symptom-report">중증도 판단 및 가용 병상 수 확인</a>
            <a href="/search">증상 보고서 검색</a>
            <a href="/hospital/inquery/nearbyHospitals">가까운 병원 조회</a>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </body>
</html>
