<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>증상 보고서 상세 페이지</title>
</head>
<body>
    <%=data.name%><br>
    <%=data.report_id%><br>
    <%=data.address%><br>
</body>
</html>