<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" href="../../image/codeblue-favicon.png" />
    <link rel="apple-touch-icon" href="../../image/codeblue-favicon.png" />

    <title>CodeBLUE - 증상 보고서 검색 페이지</title>

    <!-- Meta Tag -->
    <meta property="og:url" content="https://codeblue.site" />
    <meta property="og:title" content="CodeBLUE" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../../image/codeblue.png" />
    <meta
      property="og:description"
      content="CodeBLUE - 증상 보고서 검색 페이지"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <style>
      * {
        font-family: 'Noto Sans KR', sans-serif;
      }

      .button {
        font-family: 'Noto Sans KR', sans-serif;
      }

      .search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 60px 0 60px 0;
      }

      .label {
        width: 50px;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .sub-title {
        font-size: 1.25rem;
        margin-bottom: -1.25rem;
      }
    </style>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll('.navbar-burger'),
          0,
        );

        // Add a click event on each of them
        $navbarBurgers.forEach((el) => {
          el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      });
    </script>
  </head>
  <body>
    <nav
      class="navbar is-info is-light"
      role="navigation"
      aria-label="main navigation"
      style="padding: 0 10px 0 75px"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="../../image/onlytext-cutout.png"
            width="120"
            height="auto"
          />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/symptom-report"> 증상보고서 입력 </a>
          <a class="navbar-item" href="/search"> 증상보고서 검색 </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/hospital/nearby/site">
                가까운 병원 조회
              </a>
              <hr class="navbar-divider" />
              <a class="navbar-item" href="mailto:codebluejjang@gmail.com">
                Report an issue
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <section class="hero has-background-link-light m-6">
        <div class="hero-body my-6" style="text-align: center; padding: 40px">
          <p class="title">증상보고서 검색 엔진</p>
          <p class="sub-title">
            보고서 생성 날짜, 증상, 중증도 레벨, 이송 병원 지역, 환자 성명을
            통해 검색해보세요.
          </p>
          <form action="./request/search" method="GET">
            <div class="mb-3 mt-3">
              <div class="search">
                <label for="fromDate" class="form-label mx-5">
                  시작 일자<br />
                  <% const today = new Date().toISOString().split('T')[0]; %>
                  <input
                    type="date"
                    id="fromDate"
                    name="fromDate"
                    min="2010-01-01"
                    max="<%=today%>"
                    style="
                      font-family: 'Noto Sans KR', sans-serif;
                      margin-bottom: 10px;
                    "
                  />
                </label>
                <label for="toDate" class="form-label m-5">
                  마지막 일자<br />
                  <input
                    type="date"
                    id="toDate"
                    name="toDate"
                    min="2010-01-01"
                    max="<%=today %>"
                    style="
                      font-family: 'Noto Sans KR', sans-serif;
                      margin-bottom: 10px;
                    "
                  />
                </label>
                <label
                  for="symptom_level"
                  class="form-label select m-5 is-hovered"
                >
                  <select
                    class="form-select"
                    id="symptom_level"
                    name="symptom_level"
                    style="font-family: 'Noto Sans KR', sans-serif"
                  >
                    <option disabled selected>중증도 레벨</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </label>
                <label for="symptoms" class="form-label m-5">
                  <input
                    class="input form-control"
                    type="text"
                    id="symptoms"
                    placeholder="증상명"
                    name="symptoms"
                    style="
                      font-family: 'Noto Sans KR', sans-serif;
                      width: 110px;
                    "
                  />
                </label>
                <label for="site" class="form-label select m-5 is-hovered">
                  <select
                    class="form-select"
                    id="site"
                    name="site"
                    style="font-family: 'Noto Sans KR', sans-serif"
                  >
                    <option disabled selected>이송 병원 지역</option>
                    <option>서울</option>
                    <option>부산</option>
                    <option>대구</option>
                    <option>인천</option>
                    <option>광주</option>
                    <option>대전</option>
                    <option>울산</option>
                    <option>세종</option>
                    <option>경기</option>
                    <option>충북</option>
                    <option>충남</option>
                    <option>전북</option>
                    <option>전남</option>
                    <option>경북</option>
                    <option>경남</option>
                    <option>강원</option>
                    <option>제주</option>
                  </select>
                </label>
                <label for="age_range" class="form-label select m-5 is-hovered">
                  <select
                    class="form-select"
                    id="age_range"
                    name="age_range"
                    style="font-family: 'Noto Sans KR', sans-serif"
                  >
                    <option disabled selected>환자 연령대</option>
                    <option>영유아</option>
                    <option>청소년</option>
                    <option>성인</option>
                    <option>노년</option>
                    <option>임산부</option>
                  </select>
                </label>
                <label for="name" class="form-label m-5">
                  <input
                    class="input form-control"
                    type="text"
                    id="name"
                    placeholder="환자 성명"
                    name="name"
                    style="
                      font-family: 'Noto Sans KR', sans-serif;
                      width: 110px;
                    "
                  />
                </label>
              </div>
            </div>

            <button
              type="submit"
              class="button is-large is-responsive is-info"
              style="width: 130px"
            >
              검색
            </button>
          </form>
        </div>
      </section>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>한줄한줄 사람을 살리는 코드, CodeBLUE</strong> <br />
          The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          <br />
          The website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY NC SA 4.0</a
          >.
        </p>
      </div>
    </footer>
  </body>
</html>
